@page "/addProduct"
@inject IProductService productservice
@inject NavigationManager NavigationManager
<h3>Add Product</h3>

<EditForm Model="product" OnSubmit="HandleSubmit">
    <div>
        <label for="name">Name</label>
        <InputText id="name" @bind-Value="product.Name" class="form-control"/>
    </div>
    <div>
        <label for="description">Description</label>
        <InputText id="description" @bind-Value="product.Description" class="form-control" />
    </div>
    <br />
    <button type="submit" class=" btn btn-primary">@btnText</button>
</EditForm>

@code {
    test2.Shared.AddProduct product = new test2.Shared.AddProduct();
    string btnText = string.Empty;
    protected override void OnInitialized()
    {
        btnText = "Save New Product";
    }
    async Task HandleSubmit()
    {
        await productservice.CreateProduct(product);
    }
}
